<a href="https://colab.research.google.com/github/mohanreddym2/myprojets/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print(1)

1

In [ ]:
s = 'restarted'
res = s[0]+s[1:]+s.replace(s[0],"$")
print(res)

restarted$esta$ted

In [ ]:
n = int(input())
n_mat = []
for i in range(n):
       lst = input().split()
       for i in lst:
         n_mat.append(int(i))
        #n_mat.append(n_matrix)
print(n_mat)

2
1 2 3
3 4 5
[1, 2, 3, 3, 4, 5]

In [ ]:
n= 2
a = []
for number in range(n):
  lst = list(input().split())
  a.append(lst)
  
print(a)

2 3 4
2 4 5
[['2', '3', '4'], ['2', '4', '5']]

In [ ]:
n = int(input())
numbers = input().split()
a =[]
for number in numbers:
  a.append(int(number))
print(a)

5
1 2 3 4
[1, 2, 3, 4]

In [ ]:
a = 'i-am-awesome'
b = a.split('-')
print(len(b))

3

In [ ]:
n = int(input())
n_mat = []
for i in range(n):
        lst = list(map(int, input().split()))
        n_mat.append(lst)
for j in range(n):
        if j%2 == 0:
            for i in range(n):
                print(n_mat[i][j], end = ' ')
        else:
            for i in range(n-1,-1,-1):
                print(n_mat[i][j], end = ' ')

2
1 2
3 4
1 3 4 2

In [ ]:

s1 = 'abc'
s2 = 'xyz'
str1 = s2[:2] + s1[2:] + ' ' + s1[:2] + s2[2:]
str2 = s2[0:2] + s1[-1]+ ' '+ s1[0:2] +s2[-1]

print(str1)
print(str2)

xyc abz
xyc abz

In [ ]:
s ='input_string'
print('e'.split(s, 2))
print(s.split('e', 2))
print('e'.split(s, maxsplit=2))
print(s.split('e', maxsplit=2))

['e']
['input_string']
['e']
['input_string']

In [ ]:
n= int(input())
lst = []    
for num in range(n):
        lst.append(num)
print(lst)

4
[0, 1, 2, 3]

In [ ]:
a='d'
b='a'
c='d'
print(a+b+c)

dad

In [ ]:
#T test case for coutn upper case letters

T=int(input())
for i in range(T):
  A=input()
  s = 0
  for j in A:
     if j.isupper():
        s = s + 1
  print(s)

5
Mo
1
REDDYMO
7
B
1
CCCCC
5
DDD
3